<!DOCTYPE html>
<html lang="zh-hant">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>
    <style>
        .sheives {
            margin-top: 20px;
        }
        .shelf-container {
            min-width: 100px;
            min-height: 50px;
            margin: 20px auto;
        }
        .folder-container {
            min-width: 100px;
            min-height: 30px;
            padding-left: 0px;
        }
        .book {
            /* border: #d6d6d6 0.2rem solid; */
            display: block;
            border-radius: 0.2rem;
        }
        .gu-mirror {
            border: #d6d6d6 0.2rem solid;
            position: fixed !important;
            margin: 0 !important;
            z-index: 9999 !important;
            opacity: 0.8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }
        .gu-hide {
            display: none !important;
        }
        .gu-unselectable {
            -webkit-user-select: none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
        }
        .gu-transit {
            opacity: 0.2;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: alpha(opacity=20);
        }
        .task {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            vertical-align: middle;
            list-style-type: none;
            background: #fff;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin: 0.4rem;
            height: 4rem;
            border: #000013 0.15rem solid;
            border-radius: 0.2rem;
            cursor: move;
            text-align: center;
            vertical-align: middle;
        }
        #taskText {
            background: #fff;
            border: #000013 0.15rem solid;
            border-radius: 0.2rem;
            text-align: center;
            font-family: "Roboto Slab", serif;
            height: 4rem;
            width: 7rem;
            margin: auto 0.8rem auto 0.1rem;
        }
        .task p {
            margin: auto;
        }
        .reading-shelf {
            background: #f1f1f1;
        }
        .done-shelf {
            background-color: #f1f1f1;
        }
        .red {
            color:red;
        }
        .image-rotate {
            animation: rotation 4s infinite linear;
        }

        .image-rotate:hover {
            animation: rotation 2s infinite linear;
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
        .centered-title {
            text-align: center;
        }
    </style>
    <title>我的書櫃</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/novels/">Easy Reading 輕鬆看文</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Dismissible popover" data-bs-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a> -->
                <a tabindex="0" class="nav-link active intro" aria-current="page" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" data-bs-content="新增資料夾後，放入書本：建立成功！刪除資料夾：將所有書本移出資料夾並重整頁面。">使用說明</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">登出</a>
              </li>
            </ul>
            <div class="d-flex" >
            <input class="form-control me-2" type="text" placeholder="找書名" aria-label="Search" style="background-color:white; color:dimgray" id="searchTitle">
            <button class="btn btn-outline-light" type="submit" id="search" style="width:40%">＠書櫃</button>
            </div>
          </div>
        </div>
      </nav>
      <p class="lead">
    </p>

    <div class="centered-title">
        <a type="button" class="btn btn-outline-secondary" data-bs-toggle="popover" title="連結已複製" id="shelfButton">分享我的書櫃 ʕ⸝⸝⸝˙Ⱉ˙ʔ *｡</a>
    </div>
       
    <div class="main-container container text-center">
        <ul class="sheives row">
            <li id="pending-shelf" class="shelf col list-group-item">
                <div class="shelf-header list-group-item list-group-item-primary"><h4>待閱讀</h4></div>
                <ul id="pending" class="shelf-container list-group col"></ul>
            </li>
            <li id="reading-shelf" class="shelf col list-group-item">
                <div class="shelf-header list-group-item list-group-item-warning"><h4>閱讀中</h4></div>
                <ul id="reading" class="shelf-container list-group col"></ul>
                <div class="shelf-button input-group mb-6">
                    <input type="text" id="reading-shelf-append-folder" class="form-control" placeholder="New Folder Name" />
                    <button class="button btn btn-outline-secondary" type="button" onClick="addFolder('reading-shelf-append-folder')">Add</button>
                </div>
            </li>
            <li id="done-shelf" class="shelf col list-group-item">
                <div class="shelf-header list-group-item list-group-item-success"><h4>已閱畢</h4></div>
                <ul id="done" class="shelf-container list-group col">
                    <li class="folder done-shelf list-group-item">
                        <div class="folder-header col"><h5>好看</h5></div>
                        <ul id="folder-good" class="folder-container" data-name="good"></ul>
                    </li>
                    <li class="folder done-shelf list-group-item">
                        <div class="folder-header col"><h5>普通</h5></div>
                        <ul id="folder-normal" class="folder-container" data-name="normal"></ul>
                    </li>
                    <li class="folder done-shelf list-group-item">
                        <div class="folder-header col"><h5>難看</h5></div>
                        <ul id="folder-bad" class="folder-container" data-name="bad"></ul>
                    </li>
                </ul>
            </li>
            <li id="blocked-shelf" class="shelf col list-group-item">
                <div class="shelf-header list-group-item list-group-item-danger"><h4>黑名單</h4></div>
                <ul id="blocked" class="shelf-container list-group col"></ul>
            </li>
            <li id="blackhole" class="shelf col list-group-item col-1">
                <img id="deleted" src="{% static 'img/blackhole-11.1s-200px.png' %}" class="shelf-container image-rotate" title="刪除書本的黑洞"> 
            </li>
        </ul>
    </div>
    <script>
        const user_id = '{{user_id}}';
        const user_name = '{{user_name}}';

        let drake;
        let _bookshelfStatus = 0
        function getContainers () {
            return document.querySelectorAll('.shelf-container:not(#done), .folder-container');
        };
        function displayBook (book, container) {
            const bookLi = document.createElement('li');
            bookLi.className = 'book'
            bookLi.setAttribute("data-title", book.title);
            bookLi.setAttribute("data-author", book.author);
            bookLi.setAttribute("data-outline", book.outline);
            bookLi.setAttribute("data-url", book.url);
            bookLi.setAttribute("data-category", book.category);
            bookLi.innerHTML = `
            <div class="accordion" id="book_${book.id}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#book_${book.id}_body" aria-expanded="false" aria-controls="book_${book.id}_body">
                        <strong style="margin-right: 15px">${book.title}</strong>
                        <small># ${book.author}</small>
                        </button>
                    </h2>
                    <div id="book_${book.id}_body" class="accordion-collapse collapse" data-bs-parent="#book_${book.id}">
                        <div class="accordion-body">
                        <p>
                        <strong><a href="${book.url}" target="_blank" id="${book.id}_url" >[前往閱讀:<span>${book.url_page || 1}</span>頁]</a></strong>
                        </p>
                        <div class="input-group input-group-sm mb-3">
                            <input type="number" class="form-control" placeholder="閱讀頁數" aria-label="閱讀頁數" aria-describedby="book_${book.id}_page">
                            <button class="btn btn-outline-secondary update" type="button" id="book_${book.id}_page" data-id="${book.id}">更新頁數</button>
                        </div>
                        ${book.outline}
                        </div>
                    </div>
                </div>
            </div>`;
            container.appendChild(bookLi);
            if (book.url_page){
                fetchUrl(book.url_page, book.id);
            }
        };
        function createFolder (bookshelfElement, folderName) {
            const folderId = `folder-${encodeURIComponent(folderName).replace(/%/g, '')}`
            let folder = document.getElementById(folderId);
            if (!folder) {
                bookshelfElement.innerHTML += `
                <li class="folder ${bookshelfElement.id}-shelf list-group-item">
                    <div class="folder-header col"><h5>${folderName}</h5></div>
                    <ul id="${folderId}" class="folder-container" data-name="${folderName}"></ul>
                </li>`;
                folder = document.getElementById(folderId);
            }
            return folder;
        }
        function loadBooks (bookshelf, userId) {
            const bookshelfElement = document.getElementById(bookshelf);
            const api = `/novels/bookshelfs/?bookshelf=${encodeURIComponent(bookshelf)}&user_id=${encodeURIComponent(userId)}`;
            fetch(api)
            .then(response => response.json())
            .then(data => {
                Object.entries(data).map(([folder, books]) => {
                    if (folder === 'no_folder') {
                        books.forEach(book => displayBook(book, bookshelfElement));
                    } else {
                        // if (folder === 'folder-good' || folder === 'folder-bad' || folder === 'folder_noraml') {
                        //     const folderExist = getElementById(folder);
                        //     books.forEach(book => displayBook(book, folderExist));
                        // } else {
                        const folderElement = createFolder(bookshelfElement, folder);
                        books.forEach(book => displayBook(book, folderElement));
                    // }
                }});
                _bookshelfStatus += 1;
            })
            .catch(error => {
                console.error('獲取數據時出現錯誤:', error);
            });
        }
        function addFolder(inputId) {
            const $input = document.getElementById(inputId)
            const folderName = $input.value
            if (folderName.length > 0) {
                const shelfName = $input.id.split('-')[0]
                const $shelf = document.getElementById(shelfName)
                createFolder($shelf, folderName);
                $input.value = ''
                drake.containers.splice()
                getContainers().forEach(c => { drake.containers.push(c) })
            }
        }
        function markBook (data) {
            const api = "/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        }
        function startDragula () {
            if (_bookshelfStatus < 4) {
                setTimeout(startDragula, 500);
                return;
            }
            const containers = [];
            getContainers().forEach(container => { containers.push(container); });
            drake = dragula(containers, {
                accepts: function (el, target, source, sibling) {
                    if (/folder/.test(el.className)) {
                        const belongs = el.className.match(/\w+-shelf/).pop()
                        return belongs.startsWith(target.id) && !/folder/.test(target.className) ? true : false
                    } else { return true }
                },
                removeOnSpill: false,
            }).on('drop', (el, target, source) => {
                let folderName;
                if (target.className.match(/folder-container/)) {
                    folderName = target.dataset.name
                } else {
                    folderName = null;
                }
                // check which bookshelf to move
                let bookshelfId;
                if (folderName) {
                    bookshelfId = target.closest('.shelf-container').id;
                } else {
                    bookshelfId = target.id;
                }
                const data = {
                    "user_id": user_id,
                    "bookshelf": bookshelfId,
                    "title": el.dataset.title,
                    "author": el.dataset.author,
                    "outline": el.dataset.outline,
                    "url": el.dataset.url,
                    "category": el.dataset.category,
                    "folder": folderName,
                };
                markBook(data);
            })
        };
        function bindPageUpdate () {
            if (_bookshelfStatus < 4) {
                setTimeout(bindPageUpdate, 500);
                return;
            }
            const updateUrl = document.querySelectorAll('.update');
            updateUrl.forEach(update => {
                update.addEventListener('click', () => {
                    const page = update.previousElementSibling.value;
                    const novel_id = update.dataset.id;
                    fetchUrl(page, novel_id);
                    update.previousElementSibling.value = "";
                    document.querySelector(`a[id="${novel_id}_url"] span`).innerHTML = page;
                })
            })
        }
        function initialize () {
            loadBooks("pending", user_id);
            loadBooks("blocked", user_id);
            loadBooks("reading", user_id);
            loadBooks("done", user_id);
            startDragula();
            bindPageUpdate();
        }
        initialize();

        const search_title = document.getElementById("search");
        search_title.addEventListener("click", () => {
            const searchTitle = document.getElementById("searchTitle").value;
            if (searchTitle) {
            fetchBook(searchTitle);
            }
        })

        function fetchBook(title) {
            fetch("/novels/search_bookshelf/?user_id=" + user_id + "&title=" + encodeURIComponent(title))
            .then(resp => resp.json())
            .then(data => checkBook(data))
            .catch(error => console.error("Error fetching products:", error));
        }

        function checkBook(data){
            const clearRed = document.querySelectorAll('strong');
            clearRed.forEach(clear => {clear.className = ''});
            if (data['book_id']){
                const clearRed = document.querySelectorAll('strong');
                clearRed.forEach(clear => {clear.className = ''});
                const bookID = `book_${data['book_id']}`;
                const theBook =  document.querySelector(`#${bookID} strong`);
                theBook.className = 'red';   
            }
            else {
                const searchbar = document.getElementById("searchTitle");
                searchbar.value = data['message'];
            }
        }

        function fetchUrl(page, novel_id) {
            fetch("/novels/update_url/?user_id=" + user_id + "&book_id=" + novel_id + "&page=" + page)
            .then(resp => resp.json())
            .then(data => newUrl(data['url'], novel_id))
            .catch(error => console.error("Error fetching products:", error));
        }

        function newUrl(url, novel_id) {
            const elId = `${novel_id}_url`;
            const el = document.getElementById(elId);
            el.href = url;
        }

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        new bootstrap.Popover(document.querySelector('.intro'), {
            trigger: 'focus'
        })

        function shareBookShelf(user_id, user_name){
            fetch("/novels/bookshelf_url?user_id=" + user_id + "&user_name=" + user_name)
            .then(resp => resp.json())
            .then(data => {
                let bookshelfURL = data['bookshelf_url'];
                const shelfButton = document.getElementById('shelfButton');
                shelfButton.setAttribute('data-bs-content', bookshelfURL);
                const popover = new bootstrap.Popover(shelfButton,{
                    content:`<a href="${bookshelfURL}" target="_blank">前往預覽</a>`,
                    html: true
                });
                
                shelfButton.addEventListener('click', function() {
                var textArea = document.createElement('textarea');
                textArea.value = bookshelfURL;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand('copy');
                document.body.removeChild(textArea);
            });

            })
            .catch(error => console.error("Error fetching products:", error));
        }

        shareBookShelf(user_id, user_name);

        

    //     const shelfButton = document.getElementById('shelfButton');
    //     shelfButton.setAttribute('data-bs-content', bookshelfURL);
    //     var popover = new bootstrap.Popover(shelfButton,{
    //         content:`<a href="${bookshelfURL}" id="copyButton">${bookshelfURL}</a>`,
    //         html: true
    //     });
    //     setTimeout(function () {
    //     var copyButton = document.getElementById('copyButton');
    //     if (copyButton) {
    //         // 复制按钮的点击事件
    //         copyButton.addEventListener('click', function() {
    //         var textArea = document.createElement('textarea');
    //         textArea.value = bookshelfURL;
    //         document.body.appendChild(textArea);
    //         textArea.select();
    //         document.execCommand('copy');
    //         document.body.removeChild(textArea);
    //         alert('書櫃連結已複製！');
    //     });
            
    //     }
    // }, 0);

    </script>
</body>
</html>
