<!DOCTYPE html>
{% load static %}
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js'></script>
    <title>我的書櫃{{user_id}}</title>
</head>
<body>
    <div class="main-container">
        <ul class="columns">
            <li calss="column to-do-column">
                <div class="column-header"><h4>待閱讀區</h4></div>
                <ul class="task-list" id="pending">
                    <li class="column to-do-column">
                        <div class="column-header">
                            <h4>Folder-2</h4>
                        </div>
                        <ul class="task-list" id="pending-3">
                            <li><p>Testing-2</p></li>
                        </ul>
                    </li>
                    <li class="column to-do-column">
                        <div class="column-header">
                            <h4>Folder</h4>
                        </div>
                        <ul class="task-list" id="pending-2">
                            <li><p>Testing</p></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="column doing-column">
            <div class="column-header">
              <h4>閱讀中</h4>
            </div>
            <ul class="task-list" id="reading">
              <!-- <li class="task">
                <p>Hypothesis</p>
              </li>
              <li class="task">
                <p>User Testing</p>
              </li>
              <li class="task">
                <p>Prototype</p>
              </li> -->
            </ul>
            </li>
            <li class="column done-column">
            <div class="column-header">
              <h4>已閱畢</h4>
            </div>
            <ul class="task-list" id="done">
              <!-- <li class="task">
                <p>Ideation</p>
              </li>
              <li class="task">
                <p>Sketches</p>
              </li> -->
            </ul>
            </li>
            <li class="column trash-column">
            <div class="column-header">
              <h4>黑名單區</h4>
            </div>
            <ul class="task-list" id="blocked">
              <!-- <li class="task">
                <div id="blocked"></div>
              </li>
              <li class="task">
                <p>Research</p>
              </li> -->
            </ul>
            <div class="column-button">
              <button class="button delete-button" onclick="emptyTrash()">Delete</button>
            </div>
            </li>
        </ul>
    </div>
    
    <script>
        // 在頁面上顯示每本書的函數
        function displayBook(book, bookshelfElement) {
            const bookLi =document.createElement("li");
            bookLi.setAttribute("data-title", book.title);
            bookLi.setAttribute("data-author", book.author);
            bookLi.setAttribute("data-outline", book.outline);
            bookLi.setAttribute("data-url", book.url);
            bookLi.setAttribute("data-category", book.category);

            bookLi.innerHTML = `
                <p>${book.title}</p>
                <p><strong>作者:</strong> ${book.author}</p>
                <hr>
            `;
            // <p><strong>作者:</strong> ${book.author}</p>
            // <p><strong>簡介:</strong> ${book.outline}</p>
            // <p><strong>類別:</strong> ${book.category}</p>
            // <a href="${book.url}" target="_blank">閱讀更多</a>
            bookshelfElement.appendChild(bookLi);
        }

        // function displayBook(book, bookshelfElement) {
        //     const bookDiv = document.createElement("div");
        //     bookDiv.innerHTML = `
        //         <p>${book.title}</p>
        //         <p><strong>作者:</strong> ${book.author}</p>
        //         <p><strong>簡介:</strong> ${book.outline}</p>
        //         <p><strong>類別:</strong> ${book.category}</p>
        //         <a href="${book.url}" target="_blank">閱讀更多</a>
        //         <hr>
        //     `;

        //     bookshelfElement.appendChild(bookDiv);
        // }

        // 獲取書籍數據並顯示在頁面上的函數
       
        function loadBooks(bookshelf, user_id) {
            // 書架元素
            const bookshelfName = bookshelf
            const bookshelfElement = document.getElementById(bookshelfName);
            

            // 使用fetch發送GET請求到API
        //     fetch("/novels/bookshelfs/?bookshelf=" + encodeURIComponent(bookshelf) + "&user_id=" + encodeURIComponent(user_id))
        //         .then(response => response.json())
        //         .then(data => {
        //             // 迭代處理每本書
        //             data.forEach(book => {
        //                 displayBook(book, bookshelfElement);
        //             });
        //         })
        //         .catch(error => {
        //             console.error('獲取數據時出現錯誤:', error);
        //         });
        // }

        fetch("/novels/bookshelfs/?bookshelf=" + encodeURIComponent(bookshelf) + "&user_id=" + encodeURIComponent(user_id))
        .then(response => response.json())
        .then(data => {
            // 检查数据类型，如果是对象则将其转换为数组
            if (!Array.isArray(data)) {
                data = Object.values(data)[0]; // 获取对象的第一个值，即数组
            }
            // 迭代處理每本書
            data.forEach(book => {
                displayBook(book, bookshelfElement);
            });
        })
        .catch(error => {
            console.error('獲取數據時出現錯誤:', error);
        });
}
        const user_id = '{{user_id}}';
        loadBooks("pending", user_id);
        loadBooks("blocked", user_id);
        loadBooks("reading", user_id);
        loadBooks("done", user_id);

        function bookMark(data) {
            const api = "http://127.0.0.1:8000/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }

        // dragula([
        //     document.getElementById("pending"),
        //     document.getElementById("reading"),
        //     document.getElementById("done"),
        //     document.getElementById("blocked")
        // ]);
        // removeOnSpill: true
        //     .on("drag", function(el) {
        //     el.className.replace("ex-moved", "");
        //     })
        //     .on("drop", function(el) {
        //     el.className += "ex-moved";
        //     const data = {
        //         "user_id": user_id,
        //         "bookshelf": el.id,
        //         "title": book.title,
        //         "author": book.author,
        //         "outline": book.outline,
        //         "url": book.url,
        //         "category": book.category
        //     };
        //     bookMark(data);          
        //     })
        //     .on("over", function(el, container) {
        //     container.className += "ex-over";
        //     })
        //     .on("out", function(el, container) {
        //     container.className.replace("ex-over", "");
        //     });

        dragula([
            document.getElementById("pending"),
            document.getElementById("reading"),
            document.getElementById("done"),
            document.getElementById("blocked"),
            document.getElementById("pending-2")

        ], {
            removeOnSpill: false, // 正确设置 removeOnSpill
        })
        .on("drag", function(el) {
            el.className.replace("ex-moved", "");
        })
        .on("drop", function(el) {
            el.className += "ex-moved";
            const parentUl = el.parentNode;
            const bookshelfId = parentUl.id;
            const data = {
                "user_id": user_id,
                "bookshelf": bookshelfId,
                "title": el.dataset.title,
                "author": el.dataset.author,
                "outline": el.dataset.outline,
                "url": el.dataset.url,
                "category": el.dataset.category
            };
            console.log(data);
            bookMark(data);          
        })
        .on("over", function(el, container) {
            container.className += "ex-over";
        })
        .on("out", function(el, container) {
            container.className.replace("ex-over", "");
        });

    </script>
</body>
</html>
