<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/novel.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'js/novel.js' %}"></script>
    <title>Easy Reading</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand">Easy Reading 輕鬆看文</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <div class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true" id="test">
                推薦設定
              </div>
            </li>
            <li class="nav-item">
              {% load socialaccount %}
              <a class="nav-link active" aria-current="page" href="{% provider_login_url 'google' method='oauth2' %}">我的書櫃</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% provider_login_url 'google' method='oauth2' %}">登入/註冊</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div  class="page-content">
  <p class="lead" id="setence">
    <h5>
      <small class="text-body-secondary">小說輕鬆看，登入享有專屬書櫃功能</small><i class="bi-bookmark-heart-fill"></i>
    </h5>
  </p>
  
  <div class="col-6">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">找書名</span>
      <input type="text" id="title" class="form-control" placeholder="選填" aria-label="輸入種子小說書名" aria-describedby="basic-addon1">
      <span class="input-group-text" id="basic-addon2">找作者</span>
      <input type="text" id="author" class="form-control" placeholder="選填" aria-label="輸入種子小說作者" aria-describedby="basic-addon1">
    </div>
</div>
<div class="col-6">
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">選取作品類別</label>
    <select class="form-select" id="category">
      <option selected>言情</option>
　　   <option>耽美</option>
　　   <option>百合</option>
      <option>武俠</option>
      <option>玄幻</option>
      <option>科幻</option>
      <option>恐怖</option>
      <option>推理</option>
      <option>歷史</option>
      <option>軍事</option>
      <option>生活</option>
      <option>學習</option>
      <option>文學</option>
      <option>其它</option>
    </select>

    <label class="input-group-text" for="inputGroupSelect01" >選取或輸入一個標籤</label>
    <input type="text" id="input0" list="tag" class="form-select" placeholder="選填">
    <datalist id="tag">
      <option selected>快穿</option>
　　   <option>爽文</option>
　　   <option>種田</option>
      <option>輕鬆</option>
      <option>強強</option>
      <option>正劇</option>
      <option>忠犬</option>
      <option>甜文</option>
      <option>星際</option>
      <option>無限</option>
      <option>直播</option>
      <option>火葬場</option>
      <option>破鏡重圓</option>
      <option>宮廷</option>
      <option>美食</option>
      <option>天作之合</option>
    </datalist>
    <button type="button" id="search_0" class="btn btn-outline-secondary">找好文</button>
  </div>
</div>
<hr>
<div class="col-6">
  <div class="input-group mb-3" >
    <span class="input-group-text" id="basic-addon1">給我一點小驚喜</span>
    <input type="text" id="term" class="form-control" placeholder="[隨意輸入劇情關鍵字]" aria-label="關鍵字" aria-describedby="basic-addon1">
    <button type="button" id="search" class="btn btn-outline-success" >登登登</button>
  </div>
  <div id="appendalert" style="display: grid;"></div>
  </div>

  <hr/>
  <span class="badge bg-secondary"><h5><small>書名比對結果</small></h5></span>
  <div id="theOne"></div>
  <br>
  <span class="badge bg-secondary"><h5><small>作者搜尋結果</small></h5></span>
  <div id="novels">
  </div>
<br>
<span class="badge bg-secondary"><h5><small>同類別的推薦作品</small></h5></span>
  <div id="categories">
  </div>
<br>
<span class="badge bg-success"><h5><small>小驚喜</small></h5></span>
<div id="books"></div>



    <script>      
      function alertLogin(clickID, appendID) {
      const test = document.getElementById(clickID);
      let svgContainer = null;
          test.addEventListener("click", function(){
            if (svgContainer) {
              svgContainer.remove();
              svgContainer = null;
            } else {
            svgContainer = document.createElement("div");
            svgContainer.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </symbol>
                  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                  </symbol>
                  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
    註冊或登入後使用進階功能！
  </div>
</div>
            `
            svgContainer.className = "col-3 ms-auto";
            const setence = document.getElementById(appendID);
            setence.appendChild(svgContainer);}
          })};
          

      alertLogin("test", "setence");
      alertLogin("search","appendalert");


      function insertBooks(data, divID) {
        const booksContainer = document.getElementById(divID);
        booksContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bookDiv = document.createElement("div");
          bookDiv.className = "novel";
          bookDiv.setAttribute("novel_num", i); 

          const msg = document.createElement("div");
          if (item.message) {
            msg.className="alert alert-info col-8";
            msg.setAttribute("role", "alert");
            msg.textContent = item.message;
            booksContainer.appendChild(msg);
          } else {

          const bookName = document.createElement("div");
          bookName.className = "title";
          bookName.textContent = item.title;

          const bookYear = document.createElement("span");
          bookYear.className = "year";
          bookYear.textContent = item.date;

          const bookSize = document.createElement("span");
          bookSize.className = "size";
          bookSize.textContent = readingTime(item.size);

          const author = document.createElement("div");
          author.className = "author";
          author.textContent = item.author;

          const outline = document.createElement("div");
          outline.className = "outline";
          outline.textContent = item.outline;

          const cat = document.createElement("div");
          cat.className = "category";
          cat.textContent = item.category;

          const tags = document.createElement("div");
          tags.className = "tags";
          if (item.tags){
            tags.textContent = item.tags
          }
          
          const url = document.createElement("a");
          url.className = "url";
          url.href = item.url;
          url.target = "_blank";
          url.textContent = "前往閱讀";

          let svgContainer = null;

          const icon = document.createElement("span");
          icon.className = "bi bi-star";
          icon.addEventListener("click", function(){
            icon.className = "bi bi-star-fill";
            iconRemove.className = "bi bi-x-circle";
            if (svgContainer) {
              svgContainer.remove();
              svgContainer = null;
            } else {
            svgContainer = document.createElement("div");
            svgContainer.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </symbol>
                  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                  </symbol>
                  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
    註冊或登入後使用進階功能！
  </div>
</div>
            `
            svgContainer.className = "col-6 ms-auto";
            bookDiv.appendChild(svgContainer);}
          });

          const iconRemove = document.createElement("span");
          iconRemove.className = "bi bi-x-circle";
          iconRemove.addEventListener("click", function(){
            iconRemove.className = "bi bi-x-circle-fill";
            icon.className = "bi bi-star";
            if (svgContainer) {
              svgContainer.remove();
              svgContainer = null;
            } else {
            svgContainer = document.createElement("div");
            svgContainer.innerHTML = `
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </symbol>
                  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                  </symbol>
                  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </symbol>
                </svg>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <div>
    註冊或登入後使用進階功能！
  </div>
</div>
            `
            svgContainer.className = "col-6 ms-auto";
            bookDiv.appendChild(svgContainer);}
          });

          bookDiv.appendChild(bookName);
          bookName.appendChild(bookYear);
          bookDiv.appendChild(author);
          author.appendChild(bookSize);
          bookDiv.appendChild(cat);
          bookDiv.appendChild(tags)
          bookDiv.appendChild(outline);
          bookDiv.appendChild(url);
          bookDiv.appendChild(icon);
          bookDiv.appendChild(iconRemove);
        
        booksContainer.appendChild(bookDiv);
      }
    }}


    function fetchProducts(term) {
      fetch("/novels/search_novel/?term=" + encodeURIComponent(term))
        .then(resp => resp.json())
        .then(data => insertBooks(data, "books"))
        .catch(error => console.error("Error fetching products:", error));
    }


    function fetchNovels(author, title) {
      fetch("/novels/search_author/?author=" + encodeURIComponent(author) + "&title=" + encodeURIComponent(title))
        .then(resp => resp.json())
        .then(data => insertBooks(data, "novels"))
        .catch(error => console.error("Error fetching products:", error));
    }


    const search_book = document.getElementById("search_0");
    search_book.addEventListener("click", () => {
        const category = document.getElementById("category").value;
        const author = document.getElementById("author").value;
        const title = document.getElementById("title").value;
        const tag = document.getElementById("input0").value;
        fetchNovels(author, title);
        fetchCategories(category, tag, title);
        fetchTitle(title);
    })


    function fetchCategories(category, tag, title) {
      fetch("/novels/search_category/?category=" + encodeURIComponent(category) + "&tag=" + encodeURIComponent(tag) + "&title=" + encodeURIComponent(title))
        .then(resp => resp.json())
        .then(data => insertBooks(data, "categories"))
        .catch(error => console.error("Error fetching products:", error));
    }


    function fetchTitle(title){
      fetch("/novels/search_title?title=" + encodeURIComponent(title))
      .then(resp => resp.json())
      .then(data => insertBooks(data, "theOne"))
      .catch(error => console.error("Error fetching products:", error));
    }
  

    </script>
  </div>
  </body>
</html>
