<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<html>
  <head>
    <title>Easy Reading</title>
    <style>
          .page-content {
            margin: 20px; /* 添加外边距，控制网页四周的空白 */
        }
        /* 书籍容器 */
.novel {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* 书籍标题 */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.year {
  font-size: 1rem;
  color: #666;
  font-weight: normal;
  margin-bottom: 10px;
  float: right;
}

/* 书籍作者 */
.author {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
.size {
  font-size: 0.8rem;
  float: right;
}

/* 书籍分类 */
.category {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 书籍标签 */
.tags {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 5px;
}

/* 书籍摘要 */
.outline {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* 阅读链接 */
.url {
  font-size: 1rem;
  text-decoration: none;
  color: #007bff;
}

/* 图标 */
.bi {
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
  color: #f39c12;
}

/* 鼠标悬停时变色 */
.bi:hover {
  color: #e74c3c;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand">Easy Reading 輕鬆看文</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                推薦設定
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li>
                  <label  class="dropdown-item">作品年份</label>
                  <select class="dropdown-item" id="year">
                  <option value="">全部</option>"
                  <option>2016</option>
            　　   <option>2017</option>
            　　   <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                </select>
                </li>
                <li><label  class="dropdown-item">預估閱讀時間</label>
                  <select class="form-select" id="size">
                    <option selected value="">全部</option>
                    <option value="2h">2小時內</option>
                    <option value="5h">2~5小時</option>
                    <option value="10h">5~10小時</option>
                    <option value="20h">10~20小時</option>
                    <option value="max">20小時以上</option>
                  </select>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">今日新書</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'my_bookshelf' user_id=user_id %}">我的書櫃</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">登出</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div  class="page-content">
  <p class="lead">
    {% if user_id %}
    <h5>
      <small class="text-body-secondary">嗨，{{ username }}！今天想看什麼文？</small>
    </h5>
    {% endif %}
  </p>
  <div class="col-6">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">喜歡的文</span>
    <input type="text" id="title" class="form-control" placeholder="輸入種子小說書名（選填）" aria-label="輸入種子小說書名" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">喜歡的作者</span>
    <input type="text" id="author" class="form-control" placeholder="輸入種子小說作者" aria-label="輸入種子小說作者" aria-describedby="basic-addon1">
  </div>
</div>
<div class="col-6">
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">選取作品類別</label>
    <select class="form-select" id="category">
      <option selected>言情</option>
　　   <option>耽美</option>
　　   <option>百合</option>
      <option>武俠</option>
      <option>玄幻</option>
      <option>科幻</option>
      <option>恐怖</option>
      <option>推理</option>
      <option>歷史</option>
      <option>軍事</option>
      <option>生活</option>
      <option>學習</option>
      <option>文學</option>
      <option>其他</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect01">選取或輸入一個標籤</label>
    <input type="text" id="input0" list="tag" class="form-select" pattern="[\\u4e00-\\u9fa5]+" title="請輸入繁體中文">
    <datalist id="tag">
      <option selected>快穿</option>
　　   <option>爽文</option>
　　   <option>種田</option>
      <option>輕鬆</option>
      <option>強強</option>
      <option>正劇</option>
      <option>忠犬</option>
      <option>甜文</option>
      <option>星際</option>
      <option>無限</option>
      <option>直播</option>
      <option>火葬場</option>
      <option>破鏡重圓</option>
      <option>天作之合
      </option>
    </datalist>
    <button type="button" id="search_0" class="btn btn-secondary">找好文</button>
  </div>
</div>

      <span class="badge bg-secondary"><h5>同作者的其他作品</h5></span>
      <div id="novels">
      </div>
    <br>
    <span class="badge bg-secondary"><h5>同類別的推薦作品</h5></span>
      <div id="categories">
      </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-6">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">給我一點小驚喜</span>
      <input type="text" id="term" class="form-control" placeholder="[隨意輸入劇情關鍵字]" aria-label="關鍵字" aria-describedby="basic-addon1" pattern="[\\u4e00-\\u9fa5]+" title="請輸入繁體中文">
      <button type="button" id="search" class="btn btn-secondary" >登登登</button>
      <div class="invalid-feedback" style="padding-left: 138px;">
        請輸入繁體中文唷
      </div>
    </form>
    </div>
    </div>
    <div id="books"></div>


    <script>
      var user = '{{ user_id }}';

      function bookMark(data) {
            const api = "/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }
      
      function readingTime(size) {
        let readingHours = Math.floor(size / 100 * 50 / 60);
        return `預估閱讀時間：約${readingHours}~${readingHours+1}小時`;
      }

      function insertBooks(data, divID) {
        const booksContainer = document.getElementById(divID);
        booksContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bookDiv = document.createElement("div");
          bookDiv.className = "novel";
          bookDiv.setAttribute("novel_num", i); 

          const msg = document.createElement("div");
          if (item.message) {
            msg.className="alert alert-info col-8";
            msg.setAttribute("role", "alert");
            msg.textContent = item.message;
            booksContainer.appendChild(msg);
          } else {

          const bookName = document.createElement("div");
          bookName.className = "title";
          bookName.textContent = item.title;

          const bookYear = document.createElement("span");
          bookYear.className = "year";
          bookYear.textContent = item.date;

          const bookSize = document.createElement("span");
          bookSize.className = "size";
          bookSize.textContent = readingTime(item.size);

          const author = document.createElement("div");
          author.className = "author";
          author.textContent = item.author;

          const outline = document.createElement("div");
          outline.className = "outline";
          outline.textContent = item.outline;

          const cat = document.createElement("div");
          cat.className = "category";
          cat.textContent = item.category;

          const tags = document.createElement("div");
          tags.className = "tags";
          if (item.tags){
            tags.textContent = item.tags
          }
          
          const url = document.createElement("a");
          url.className = "url";
          url.href = item.url;
          url.target = "_blank";
          url.textContent = "前往閱讀";


          const icon = document.createElement("span");
          icon.className = "bi bi-star";
          icon.addEventListener("click", function(){
            icon.className = "bi bi-star-fill";
            iconRemove.className = "bi bi-x-circle";


            const data = {
                "user_id": user,
                "bookshelf": "pending",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category,
            };
            bookMark(data);          
          });

          const iconRemove = document.createElement("span");
          iconRemove.className = "bi bi-x-circle";
          iconRemove.addEventListener("click", function(){
            iconRemove.className = "bi bi-x-circle-fill";
            icon.className = "bi bi-star"

            const data = {
                "user_id": user,
                "bookshelf": "blocked",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category,
                "year": item.year
            };
            bookMark(data);  
          });

          bookDiv.appendChild(bookName);
          bookName.appendChild(bookYear);
          bookDiv.appendChild(author);
          author.appendChild(bookSize);
          bookDiv.appendChild(cat);
          bookDiv.appendChild(tags)
          bookDiv.appendChild(outline);
          bookDiv.appendChild(url);
          bookDiv.appendChild(icon);
          bookDiv.appendChild(iconRemove);
        
        booksContainer.appendChild(bookDiv);
      }
    }}

    function fetchProducts(term, year, size) {
      fetch("/novels/search_novel/?term=" + encodeURIComponent(term) + "&user_id=" + user + "&size=" + encodeURIComponent(size) + "&year=" + year)
        .then(resp => resp.json())
        .then(data => insertBooks(data, "books"))
        .catch(error => console.error("Error fetching products:", error));
    }

    // 檢查輸入是否是繁體中文
    function checkChinese(inputElement) {
      const chinesePattern = /^[\u4e00-\u9fa5]+$/;
      const inputValue = inputElement.value;
      if (chinesePattern.test(inputValue)) {
        inputElement.className = inputElement.className.replace('is-invalid');
        return true;
      } else {
        inputElement.className += " is-invalid";
        return false;
      }
    }
      
    const search_novel = document.getElementById("search");
    search_novel.addEventListener("click", () => {
        const term = document.getElementById("term");
        if (checkChinese(term)) {
          const year = document.getElementById("year").value;
          const size = document.getElementById("size").value;
          fetchProducts(term.value, year, size)
        }
    })


    function fetchNovels(author, title, year, size) {
      fetch("/novels/search_author/?author=" + encodeURIComponent(author) + "&title=" + encodeURIComponent(title)+ "&user_id=" + user + "&size=" + encodeURIComponent(size) + "&year=" + year)
        .then(resp => resp.json())
        .then(data => insertBooks(data, "novels"))
        .catch(error => console.error("Error fetching products:", error));
    }

    const search_book = document.getElementById("search_0");
    search_book.addEventListener("click", () => {
        const author = document.getElementById("author").value;
        const title = document.getElementById("title").value;
        const year = document.getElementById("year").value;
        const size = document.getElementById("size").value;
        fetchNovels(author, title, year, size)
    })


    function fetchCategories(category, tag, title, year, size) {
      fetch("/novels/search_category/?category=" + encodeURIComponent(category) + "&tag=" + encodeURIComponent(tag) + "&title=" + encodeURIComponent(title) + "&user_id=" + user + "&size=" + encodeURIComponent(size) + "&year=" + year)
        .then(resp => resp.json())
        .then(data => insertBooks(data, "categories"))
        .catch(error => console.error("Error fetching products:", error));
    }

    const search_category = document.getElementById("search_0");
    search_category.addEventListener("click", () => {
        const category = document.getElementById("category").value;
        const tag = document.getElementById("input0").value;
        const title = document.getElementById("title").value;
        const year = document.getElementById("year").value;
        const size = document.getElementById("size").value;
        fetchCategories(category, tag, title, year, size)
    })
  
    </script>
  </div>
  </body>
</html>