<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>
  <head>
    <title>網路小說推薦器</title>
  </head>
  <body>
    <a href="/novels/logout/" class="btn btn-primary">登出</a>
    <a href="{% url 'my_bookshelf' user_id=user_id %}" class="btn btn-primary">我的書櫃</a>
    {% if user_id %}
    <p>Welcome，{{ username }}！ </p>
    {% endif %}
    <h1>今天想看什麼書？為你推薦>></h1>
    <label>輸入種子小說書名</label>
    <input type="text" id="title">
    <label>輸入種子小說作者</label>
    <input type="text" id="author">
    <label>選取小說類別</label>
    <select id="category">
        <option selected>言情</option>
　　     <option>耽美</option>
　　     <option>百合</option>
        <option>武俠</option>
        <option>玄幻</option>
        <option>科幻</option>
        <option>恐怖</option>
        <option>推理</option>
        <option>歷史</option>
        <option>軍事</option>
        <option>生活</option>
        <option>學習</option>
        <option>文學</option>
        <option>其他</option>
        <!-- <option value="BG" selected>言情</option>
　　     <option value="BL">耽美</option>
　　     <option value="GL">百合</option>
        <option value="gongfu">武俠</option>
        <option value="fate">玄幻</option>
        <option value="SF">科幻</option>
        <option value="horror">恐怖</option>
        <option value="mystery">推理</option>
        <option value="history">歷史</option>
        <option value="military">軍事</option>
        <option value="life">生活</option>
        <option value="learn">學習</option>
        <option value="literature">文學</option>
        <option value="other">其他</option> -->
      </select>
      <label>選取或輸入一個標籤</label>
      <input type="text" id="input0" list="tag">
      <datalist id="tag">
        <option selected>快穿</option>
　　     <option>爽文</option>
　　     <option>種田</option>
        <option>輕鬆</option>
        <option>強強</option>
        <option>正劇</option>
        <option>忠犬</option>
        <option>甜文</option>
        <option>星際</option>
        <option>無限</option>
        <option>直播</option>
        <option>火葬場</option>
        <option>破鏡重圓</option>
        <option>天作之合</option>
           <!-- <option value="fast" selected>快穿</option>
 　　       <option value="happy">爽文</option>
 　　       <option value="country">種田</option>
           <option value="easy">輕鬆</option>
           <option value="strong">強強</option>
           <option value="story">正劇</option>
           <option value="dog">忠犬</option>
           <option value="sweet">甜文</option>
           <option value="universe">星際</option>
           <option value="unlimit">無限</option>
           <option value="live">直播</option>
           <option value="fire">火葬場</option>
           <option value="reunion">破鏡重圓</option>
           <option value="fit">天作之合</option> -->
      </datalist>
      <button type="submit" id="search_0">推薦好書</button>

      <div id="novels">
        <h3>推薦同作者的其他作品</h3>
      </div>
    <br>
      <div id="categories">
        <h3>同類別的推薦作品</h3>
      </div>
    <br>
    <br>
    <br>
    <br>
    <label>給我一點小驚喜 [隨意輸入感興趣的關鍵字] </label>
      <input type="text" id="term">
      <button type="submit" id="search">推薦好書</button>
    <div id="books"></div>


    <script>
      var user = '{{ user_id }}';
      function insertBooks(data) {
        const booksContainer = document.getElementById("books");
        booksContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bookDiv = document.createElement("div");
          bookDiv.className = "novel";
          bookDiv.setAttribute("novel_num", i); 

          const bookName = document.createElement("div");
          bookName.className = "title";
          bookName.textContent = item.title;

          const author = document.createElement("div");
          author.className = "author";
          author.textContent = item.author;

          const outline = document.createElement("div");
          outline.className = "outline";
          outline.textContent = item.outline;

          const cat = document.createElement("div");
          cat.className = "category";
          cat.textContent = item.category;

          const tags = document.createElement("div");
          tags.className = "tags";
          if (item.tags){
            tags.textContent = item.tags
          }
          
          const url = document.createElement("a");
          url.className = "url";
          url.href = item.url;
          url.textContent = '前往閱讀';

          function bookMark(data) {
            const api = "http://127.0.0.1:8000/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }

          const icon = document.createElement("span");
          icon.className = "glyphicon glyphicon-star-empty";
          icon.addEventListener("click", function(){
            icon.className = "glyphicon glyphicon-star";
            iconRemove.className = "glyphicon glyphicon-remove-circle";
            // if (icon.className ==  "glyphicon glyphicon-star-empty"){
            //     icon.className = "glyphicon glyphicon-star";
            // } else{
            //     icon.className = "glyphicon glyphicon-star-empty";
            // }

            const data = {
                "user_id": user,
                "bookshelf": "pending",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category
            };
            bookMark(data);          
          });

          const iconRemove = document.createElement("span");
          iconRemove.className = "glyphicon glyphicon-remove-circle";
          iconRemove.addEventListener("click", function(){
            iconRemove.className = "glyphicon glyphicon-remove-sign";
            icon.className = "glyphicon glyphicon-star-empty"
            // if (icon.className ==  "glyphicon glyphicon-star-empty"){
            //     icon.className = "glyphicon glyphicon-star";
            // } else{
            //     icon.className = "glyphicon glyphicon-star-empty";
            // }

            const data = {
                "user_id": user,
                "bookshelf": "blocked",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category
            };
            bookMark(data);  
          });

          bookDiv.appendChild(bookName);
          bookDiv.appendChild(author);
          bookDiv.appendChild(cat);
          bookDiv.appendChild(tags)
          bookDiv.appendChild(outline);
          bookDiv.appendChild(url);
          bookDiv.appendChild(icon);
          bookDiv.appendChild(iconRemove);
        
        booksContainer.appendChild(bookDiv);
      }
    }

    function fetchProducts(term) {
      fetch("/novels/search_novel/?term=" + encodeURIComponent(term))
        .then(resp => resp.json())
        .then(data => insertBooks(data))
        .catch(error => console.error("Error fetching products:", error));
    }

    const search_novel = document.getElementById("search");
    search_novel.addEventListener("click", () => {
        const term = document.getElementById("term").value;
        fetchProducts(term)
    })


    function insertNovels(data) {
        const novelsContainer = document.getElementById("novels");
        novelsContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const novel = data[i];
          const novelDiv = document.createElement("div");
          novelDiv.className = "novel_0";
          novelDiv.setAttribute("novel_0_num", i); 

        //   const authorDiv = document.createElement("h3");
        //   authorDiv.textContent = "推薦同作者的其他作品"

          const novelName = document.createElement("div");
          novelName.className = "title";
          novelName.textContent = novel.title;

          const novelauthor = document.createElement("div");
          novelauthor.className = "author";
          novelauthor.textContent = novel.author;

          const noveltags = document.createElement("div");
          noveltags.className = "tags";
          if (novel.tags) {
            noveltags.textContent = novel.tags
          }
          
          const noveloutline = document.createElement("div");
          noveloutline.className = "outline";
          noveloutline.textContent = novel.outline;

          const novelurl = document.createElement("a");
          novelurl.className = "url";
          if (novel.url) {
            novelurl.href = novel.url;
            novelurl.textContent = '前往閱讀';
        } 

        function bookMark(data) {
            const api = "http://127.0.0.1:8000/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }

          const novelicon = document.createElement("span");
          novelicon.className = "glyphicon glyphicon-star-empty";
          novelicon.addEventListener("click", function(){
            novelicon.className = "glyphicon glyphicon-star";
            noveliconRemove.className = "glyphicon glyphicon-remove-circle";

            const data = {
                "user_id": user,
                "bookshelf": "pending",
                "title": novel.title,
                "author": novel.author,
                "outline": novel.outline,
                "url": novel.url,
                "category": novel.category
            };
            bookMark(data);          
          });

          const noveliconRemove = document.createElement("span");
          noveliconRemove.className = "glyphicon glyphicon-remove-circle";
          noveliconRemove.addEventListener("click", function(){
            noveliconRemove.className = "glyphicon glyphicon-remove-sign";
            novelicon.className = "glyphicon glyphicon-star-empty"
            const data = {
                "user_id": user,
                "bookshelf": "blocked",
                "title": novel.title,
                "author": novel.author,
                "outline": novel.outline,
                "url": novel.url,
                "category": novel.category
            };
            bookMark(data);  
          });
        
        //   novelDiv.appendChild(authorDiv);
          novelDiv.appendChild(novelName);
          novelDiv.appendChild(novelauthor);
          novelDiv.appendChild(noveltags);
          novelDiv.appendChild(noveloutline);
          novelDiv.appendChild(novelurl);
          novelDiv.appendChild(novelicon);
          novelDiv.appendChild(noveliconRemove);

        
        novelsContainer.appendChild(novelDiv);
      }
    }

    function fetchNovels(author, title) {
      fetch("/novels/search_author/?author=" + encodeURIComponent(author) + "&title=" + encodeURIComponent(title))
        .then(resp => resp.json())
        .then(data => insertNovels(data))
        .catch(error => console.error("Error fetching products:", error));
    }

    const search_book = document.getElementById("search_0");
    search_book.addEventListener("click", () => {
        const author = document.getElementById("author").value;
        const title = document.getElementById("title").value;
        fetchNovels(author, title)
    })


    function insertCategory(data) {
        const categoriesContainer = document.getElementById("categories");
        categoriesContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const cn = data[i];
          const categoryDiv = document.createElement("div");
          categoryDiv.className = "novel_c";
          categoryDiv.setAttribute("novel_c_num", i); 

        //   const cnDiv = document.createElement("h3");
        //   cnDiv.textContent = "同類別的推薦作品"

          const cnName = document.createElement("div");
          cnName.className = "title";
          cnName.textContent = cn.title;

          const cnauthor = document.createElement("div");
          cnauthor.className = "author";
          cnauthor.textContent = cn.author;

          const cntags = document.createElement("div");
          cntags.className = "tags";
          if (category.tags) {
            cntags.textContent = cn.tags;
          }

          const cnoutline = document.createElement("div");
          cnoutline.className = "outline";
          cnoutline.textContent = cn.outline;

          const cnurl = document.createElement("a");
          cnurl.className = "url";
          cnurl.href = cn.url;
          cnurl.textContent = '前往閱讀';

          function bookMark(data) {
            const api = "http://127.0.0.1:8000/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }

          const cnicon = document.createElement("span");
          cnicon.className = "glyphicon glyphicon-star-empty";
          cnicon.addEventListener("click", function(){
            cnicon.className = "glyphicon glyphicon-star";
            cniconRemove.className = "glyphicon glyphicon-remove-circle";

            const data = {
                "user_id": user,
                "bookshelf": "pending",
                "title": cn.title,
                "author": cn.author,
                "outline": cn.outline,
                "url": cn.url,
                "category": cn.category
            };
            bookMark(data);          
          });

          const cniconRemove = document.createElement("span");
          cniconRemove.className = "glyphicon glyphicon-remove-circle";
          cniconRemove.addEventListener("click", function(){
            cniconRemove.className = "glyphicon glyphicon-remove-sign";
            cnicon.className = "glyphicon glyphicon-star-empty"
            const data = {
                "user_id": user,
                "bookshelf": "blocked",
                "title": cn.title,
                "author": cn.author,
                "outline": cn.outline,
                "url": cn.url,
                "category": cn.category
            };
            bookMark(data);  
          });
        
        //   categoryDiv.appendChild(cnDiv);
          categoryDiv.appendChild(cnName);
          categoryDiv.appendChild(cnauthor);
          categoryDiv.appendChild(cntags);
          categoryDiv.appendChild(cnoutline);
          categoryDiv.appendChild(cnurl);
          categoryDiv.appendChild(cnicon);
          categoryDiv.appendChild(cniconRemove);
        
        categoriesContainer.appendChild(categoryDiv);
      }
    }

    function fetchCategories(category, tag, title) {
      fetch("/novels/search_category/?category=" + encodeURIComponent(category) + "&tag=" + encodeURIComponent(tag) + "&title=" + encodeURIComponent(title))
        .then(resp => resp.json())
        .then(data => insertCategory(data))
        .catch(error => console.error("Error fetching products:", error));
    }

    const search_category = document.getElementById("search_0");
    search_category.addEventListener("click", () => {
        const category = document.getElementById("category").value;
        const tag = document.getElementById("input0").value;
        const title = document.getElementById("title").value;
        fetchCategories(category, tag, title)
    })

//     const productsContainer = document.getElementById("products");
//   productsContainer.addEventListener('click', (event) => {
//     const clickedElement = event.target;
//     if (clickedElement.classList.contains('product')) {
//       const item_id = clickedElement.getAttribute('product-item-id');
//       window.location = `/recommendation?item_id=${item_id}`;
//     }
//   });
    // const productDivs = document.querySelectorAll('.product');
    //     productDivs.forEach(div => {
    //         div.addEventListener('click', () => {
    //             const item_id = div.getAttribute('product-item-id');
    //             console.log(item_id);
    //             window.location.href = `/recommendation?item_id=${item_id}`;
    //         }, true);
    //     });
  
    </script>
  </body>
</html>