<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<html>
  <head>
    <title>Easy Reading</title>
    <style>
          .page-content {
            margin: 20px; /* 添加外边距，控制网页四周的空白 */
        }
        /* 书籍容器 */
.novel {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

/* 书籍标题 */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.year {
  font-size: 1rem;
  color: #666;
  font-weight: normal;
  margin-bottom: 10px;
  float: right;
}

/* 书籍作者 */
.author {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
}
.size {
  font-size: 0.8rem;
  float: right;
}

/* 书籍分类 */
.category {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 书籍标签 */
.tags {
  font-size: 0.8rem;
  color: #888;
  margin-bottom: 5px;
}

/* 书籍摘要 */
.outline {
  font-size: 1rem;
  margin-bottom: 15px;
}

/* 阅读链接 */
.url {
  font-size: 1rem;
  text-decoration: none;
  color: #007bff;
}

/* 图标 */
.bi {
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
  color: #f39c12;
}

/* 鼠标悬停时变色 */
.bi:hover {
  color: #e74c3c;
}

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/novels/">Easy Reading 輕鬆看文</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/novels/daily">最新完結</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/novels/">回到首頁</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'my_bookshelf'%}">我的書櫃</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">登出</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div  class="page-content">
      <span class="badge bg-secondary"><h5>站內熱門排行榜TOP 10</h5></span>
  <p class="lead" style="padding-top: 10px;">
    <input type="radio" class="btn-check" name="options-outlined" id="all" autocomplete="off" checked value="">
    <label class="btn btn-outline-success" for="all">全部</label>
    <input type="radio" class="btn-check" name="options-outlined" id="love" autocomplete="off" value="言情">
    <label class="btn btn-outline-success" for="love">言情</label>
    <input type="radio" class="btn-check" name="options-outlined" id="bl" autocomplete="off" value="耽美">
    <label class="btn btn-outline-success" for="bl">耽美</label>
    <input type="radio" class="btn-check" name="options-outlined" id="gl" autocomplete="off" value="百合">
    <label class="btn btn-outline-success" for="gl">百合</label>
    <input type="radio" class="btn-check" name="options-outlined" id="fight" autocomplete="off" value="武俠">
    <label class="btn btn-outline-success" for="fight">武俠</label>
    <input type="radio" class="btn-check" name="options-outlined" id="god" autocomplete="off" value="玄幻">
    <label class="btn btn-outline-success" for="god">玄幻</label>
    <input type="radio" class="btn-check" name="options-outlined" id="tech" autocomplete="off" value="科幻">
    <label class="btn btn-outline-success" for="tech">科幻</label>
    <input type="radio" class="btn-check" name="options-outlined" id="horro" autocomplete="off" value="恐怖">
    <label class="btn btn-outline-success" for="horro">恐怖</label>
    <input type="radio" class="btn-check" name="options-outlined" id="mystry" autocomplete="off" value="推理">
    <label class="btn btn-outline-success" for="mystry">推理</label>
    <input type="radio" class="btn-check" name="options-outlined" id="history" autocomplete="off" value="歷史">
    <label class="btn btn-outline-success" for="history">歷史</label>
    <input type="radio" class="btn-check" name="options-outlined" id="military" autocomplete="off" value="軍事">
    <label class="btn btn-outline-success" for="military">軍事</label>
    <input type="radio" class="btn-check" name="options-outlined" id="life" autocomplete="off" value="生活">
    <label class="btn btn-outline-success" for="life">生活</label>
    <input type="radio" class="btn-check" name="options-outlined" id="art" autocomplete="off" value="文學">
    <label class="btn btn-outline-success" for="art">文學</label>
    <input type="radio" class="btn-check" name="options-outlined" id="learn" autocomplete="off" value="學習">
    <label class="btn btn-outline-success" for="learn">學習</label>
    <input type="radio" class="btn-check" name="options-outlined" id="other" autocomplete="off" value="其它">
    <label class="btn btn-outline-success" for="other">其它</label>
    <h5>
      <!-- <small class="text-body-secondary">今天想看什麼文？</small> -->
    </h5>
  </p>
  
    <div id="books"></div>

    <script>
      var user = '{{ user_id }}';

      function bookMark(data) {
            const api = "/novels/mark/";
            fetch(api, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then(response => {
                if(!response.ok){
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
          }
      
      function readingTime(size) {
        let readingHours = Math.floor(size / 100 * 50 / 60);
        return `預估閱讀時間：約${readingHours}~${readingHours+1}小時`;
      }

      function insertBooks(data, divID) {
        const booksContainer = document.getElementById(divID);
        booksContainer.innerHTML = ""; // Clear previous books
      
        for (let i = 0; i < data.length; i++) {
          const item = data[i];
          const bookDiv = document.createElement("div");
          bookDiv.className = "novel";
          bookDiv.setAttribute("novel_num", i); 

          const msg = document.createElement("div");
          if (item.message) {
            msg.className="alert alert-info col-8";
            msg.setAttribute("role", "alert");
            msg.textContent = item.message;
            booksContainer.appendChild(msg);
          } else {

          const bookName = document.createElement("div");
          bookName.className = "title";
          bookName.textContent = item.title;

          const bookYear = document.createElement("span");
          bookYear.className = "year";
          bookYear.textContent = item.date;

          const bookSize = document.createElement("span");
          bookSize.className = "size";
          bookSize.textContent = readingTime(item.size);

          const author = document.createElement("div");
          author.className = "author";
          author.textContent = item.author;

          const outline = document.createElement("div");
          outline.className = "outline";
          outline.textContent = item.outline;

          const cat = document.createElement("div");
          cat.className = "category";
          cat.textContent = item.category;

          const tags = document.createElement("div");
          tags.className = "tags";
          if (item.tags){
            tags.textContent = item.tags
          }
          
          const url = document.createElement("a");
          url.className = "url";
          url.href = item.url;
          url.target = "_blank";
          url.textContent = "前往閱讀";


          const icon = document.createElement("span");
          icon.className = "bi bi-star";
          icon.addEventListener("click", function(){
            icon.className = "bi bi-star-fill";
            iconRemove.className = "bi bi-x-circle";


            const data = {
                "user_id": user,
                "bookshelf": "pending",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category,
            };
            bookMark(data);          
          });

          const iconRemove = document.createElement("span");
          iconRemove.className = "bi bi-x-circle";
          iconRemove.addEventListener("click", function(){
            iconRemove.className = "bi bi-x-circle-fill";
            icon.className = "bi bi-star"

            const data = {
                "user_id": user,
                "bookshelf": "blocked",
                "title": item.title,
                "author": item.author,
                "outline": item.outline,
                "url": item.url,
                "category": item.category,
                "year": item.year
            };
            bookMark(data);  
          });

          bookDiv.appendChild(bookName);
          bookName.appendChild(bookYear);
          bookDiv.appendChild(author);
          author.appendChild(bookSize);
          bookDiv.appendChild(cat);
          bookDiv.appendChild(tags)
          bookDiv.appendChild(outline);
          bookDiv.appendChild(url);
          bookDiv.appendChild(icon);
          bookDiv.appendChild(iconRemove);
        
        booksContainer.appendChild(bookDiv);
      }
    }}

    function fetchHot(category) {
      fetch("/novels/ranking_novel/?category=" + encodeURIComponent(category))
        .then(resp => resp.json())
        .then(data => insertBooks(data, "books"))
        .catch(error => console.error("Error fetching products:", error));
    }

    let category = "";
    fetchHot(category);

    const categories = document.querySelectorAll('.btn-check');
    categories.forEach(category => {
      category.addEventListener('click', function() {
        const cat = this.value;
        fetchHot(cat);
    })
  })

    </script>
  </div>
  </body>
</html>
